.suggestions ol {
  border: 1px solid var(--pos-border-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: var(--layer-top);
  list-style-type: none;
  box-shadow: var(--shadow-xl);
}

.suggestions {
  position: relative;
  li {
    padding: 1rem;
    background-color: var(--pos-background-color);
    pos-rich-link {
      --background-color: inherit;
    }
    &.selected {
      background-color: var(--pos-primary-color);
      &:hover {
        background-color: var(--pos-primary-color);
      }
    }
    &:hover {
      background-color: var(--pos-border-color);
    }
  }
}

.suggestions li.selected pos-rich-link {
  --label-color: white;
  --description-color: var(--pos-border-color);
  --uri-color: var(--pos-subtle-text-color);
}

ion-searchbar {
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar {
  flex-grow: 1;
}

dialog {
  min-height: 50%; /* TODO better height value*/
}
