button.main {
  display: flex;
  transition:
    width 200ms,
    background-color 500ms,
    color 500ms,
    border-color 500ms;
  max-width: var(--size-40);
  flex-direction: row;
  overflow: hidden;
  height: var(--size-8);
  width: var(--size-8);
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  color: var(--pos-subtle-text-color);
  border: var(--size-px) dashed var(--pos-subtle-text-color);
  background-color: var(--pos-background-color);

  p {
    padding: 0;
    margin: 0;
    display: none;
    white-space: nowrap;
  }

  &.success {
    color: var(--color-green-700);
    border-color: var(--color-green-700);
    border-style: solid;
    background-color: var(--color-green-100);
  }

  &:active {
    transform: scale(0.99);
    filter: brightness(90%);
  }
  &:focus {
    outline: var(--pos-input-focus-outline);
  }
}

.options {
  position: absolute;
  animation: fadeIn 300ms;
  padding: 0;
  margin-top: var(--size-1);
  z-index: var(--layer-top);

  ol {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-md);
    backdrop-filter: var(--blur-md);
    border-radius: var(--radius-xs);
    overflow: hidden;
    color: var(--color-grey-900);
    background-color: var(--color-grey-200);
    padding: 0;
    margin: 0;
    list-style: none;
    label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: all 300ms var(--ease-in-out-sine);
      margin: 0;
      border: none;
      outline: none;
      padding: var(--size-2);
      width: var(--size-full);

      &:hover,
      &:focus {
        filter: brightness(80%);
      }

      &:active {
        filter: brightness(90%);
      }
    }
  }
  label:has(input:checked) {
    background-color: var(--color-green-100);
  }
}

svg {
  display: inline-block;
  height: var(--size-6);
  flex-shrink: 0;
  flex-grow: 0;
  width: var(--size-6);
}

button.main:hover,
button.open {
  &.success {
    background: var(--color-green-200);
  }
  width: var(--size-full);
  height: var(--size-8);
  background: var(--pos-background-color);
  color: var(--pos-normal-text-color);

  p {
    display: inline-block;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
