:host {
}

.suggestions {
  position: relative;
}

.suggestions ol {
  border: 1px solid var(--color-grey-200);
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: var(--layer-top);
  list-style-type: none;
  box-shadow: var(--shadow-xl);
}

.suggestions {
  li {
    padding: 1rem;
    background-color: white;
    pos-rich-link {
      --background-color: inherit;
    }
    &.selected {
      background-color: var(--color-blue);
      &:hover {
        background-color: var(--color-blue-700);
      }
    }
    &:hover {
      background-color: var(--color-grey-200);
    }
  }
}

.suggestions li.selected pos-rich-link {
  --label-color: white;
  --description-color: var(--color-grey-200);
  --uri-color: var(--color-grey-200);
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
