/* Core CSS required for Ionic components to work properly */

@import '~@ionic/core/css/ionic.bundle.css';

@import '~pollen-css/dist/pollen.css';

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --pos-primary-text-color: var(--color-grey-50);
  --pos-normal-text-color: var(--color-grey-900);
  --pos-disabled-text-color: var(--color-grey-600);
  --pos-primary-color: var(--color-blue-500);
  --pos-disabled-color: var(--color-grey-100);
  --pos-background-color: var(--color-grey-50);
  --pos-input-outline: var(--size-px) solid var(--color-grey-700);
  --pos-input-focus-outline: var(--size-px) solid var(--pos-primary-color);
}
