section {
  display: flex;
  flex-direction: row;
}

section > :last-child {
  flex-grow: 1;
}

@media (max-width: 640px) {
  section {
    --toolbar-size: var(--size-16);
    flex-direction: column-reverse;
    padding-bottom: var(--toolbar-size);
    pos-tool-select {
      --button-size: var(--toolbar-size);
    }
  }
}
