:host {
  --background-color: white;
  --hover-color: var(--color-grey-200);
  --label-color: var(--color-grey-900);
  --description-color: var(--color-grey-900);
  --uri-color: var(--color-grey-600);
  --font-family: var(--font-sans);
}

a.container {
  text-decoration: none;
}

p.content {
  background-color: var(--background-color);
  line-height: var(--line-xs);
  margin: 0;
  padding: var(--scale-1);
  display: flex;
  flex-direction: column;
  border-bottom: var(--size-px) solid var(--color-grey-200);
}

p.content:hover {
  background: var(--hover-color);
}

pos-label {
  color: var(--label-color);
  max-width: var(--prose-lg);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--scale-fluid-1);
  text-decoration: underline;
  text-decoration-thickness: var(--size-px);
  margin-bottom: var(--size-1);
}

pos-description {
  max-width: var(--prose-lg);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: var(--weight-light);
  color: var(--description-color);
  font-size: var(--scale-fluid-0);
  margin-bottom: var(--size-1);
}

a.uri {
  color: var(--uri-color);
  font-size: var(--scale-fluid-00);
  margin-top: var(--size-1);
}
