:host {
}

a.container {
  text-decoration: none;
}

a.container:hover {
}

a {
  color: var(--color-black);
}

p.content {
  line-height: var(--line-xs);
  margin: 0;
  padding: var(--scale-1);
  display: flex;
  flex-direction: column;
  border-bottom: var(--size-px) solid var(--color-grey-200);
}

p.content:hover {
  background: var(--color-grey-200);
}

pos-label {
  font-size: var(--scale-fluid-1);
  font-weight: var(--weight-regular);
  color: var(--color-blue-700);
  text-decoration: underline;
  margin-bottom: var(--size-1);
}

pos-description {
  max-width: var(--prose-lg);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: var(--weight-light);
  color: var(--color-grey-900);
  font-size: var(--scale-fluid-0);
  margin-bottom: var(--size-1);
}

a.uri {
  color: var(--color-grey-600);
  font-size: var(--scale-fluid-00);
  margin-top: var(--size-1);
}


