article {
  &:focus-within {
    outline: var(--pos-input-focus-outline);
  }

  .tiptap {
    border: none;
    outline: none;
  }

  line-height: 1.5;
  pos-image {
    --max-width: 100%;
  }

  footer {
    .status {
      display: flex;
      align-content: center;
      align-items: center;
      gap: var(--size-1);
      font-size: var(--scale-000);
      color: var(--pos-subtle-text-color);
    }
  }
}
