{% extends "main.html" %}

{% block content %}
  {{ page.content }}
  <a href="getting-started/" class="md-button md-button--primary">Get Started</a>
  <a href="contributing/" class="md-button">Contributing</a>
{% endblock %}

{% block footer %}
{% endblock %}
