:host {
  --spinner-size: var(--size-10);
  width: var(--spinner-size);
  height: var(--spinner-size);
  fill: var(--color-blue-700);
  opacity: 50%;
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
