section.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    line-height: 3rem;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}
