ul[role='listbox'] {
  list-style: none;
  margin: 0;
  padding: 0.25rem;
  background: var(--sl-color-neutral-0);
  border: 1px solid var(--sl-color-neutral-200);
  border-radius: var(--sl-border-radius-medium);
  box-shadow: var(--sl-shadow-medium);
}

li[role='option'] {
  padding: 0.25rem 0.5rem;
  border-radius: var(--sl-border-radius-small);
  cursor: pointer;
}

li[role='option'][aria-selected='true'] {
  background: var(--sl-color-primary-100);
  color: var(--sl-color-primary-700);
}
