:host {
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
