:host {
  display: flex;
  gap: 10px;
}
.user-data {
  align-items: center;
  display: inline-flex;
  gap: 10px;
}
.user-data pos-picture {
  --width: 40px;
  --height: 40px;
  --border-radius: 50%;
}
