:host {
  display: flex;
  gap: 10px;
}
.user-data {
  align-items: center;
  display: inline-flex;
  gap: 10px;
}
.user-data pos-picture {
  --width: 40px;
  --height: 40px;
  --border-radius: 50%;
}

pos-login-form {
  margin: var(--size-2)
}

dialog {
  margin-top: var(--size-10);
}
