:host {
  display: grid;
  grid-template-columns: var(--size-80) auto;
  grid-template-rows: var(--size-14) auto;
  height: 100%;
  grid-template-areas:
    "header header"
    "menu main"
}

header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-4);
}

nav {
  grid-area: menu;
}

main {
  grid-area: main;
}
