:host {
  --width: 300px;
  --height: 300px;
  --border-radius: 0;
}

img, ion-skeleton-text, div.error {
  border-radius: var(--border-radius);
  width: var(--width);
  height: var(--height);
}

div.error {
  display: flex;
  background-color: #eee;
  border: 1px solid red;
  color: red;
  align-items: center;
  justify-content: center;
}
