.types {
  display: flex;
  gap: var(--size-1);
}

.expanded {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

ion-badge {
  color: #333;
  background: #eee;
}

ion-badge.toggle {
  cursor: pointer;
}

ion-badge.toggle:hover {
  background: #ddd;
}
