:host {
  --button-size: var(--size-14);
  display: block;
  position: sticky;
  align-self: flex-start;
  top: 0;
  overflow: auto;
  min-width: var(--button-size);
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    font-size: var(--size-6);
    .text {
      font-size: var(--size-3);
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }
    outline: none;
    border: none;
    width: var(--button-size);
    min-width: var(--button-size);
    height: var(--button-size);
    min-height: var(--button-size);
    background-color: var(--pos-background-color);
  }
}

@media (max-width: 640px) {
  :host {
    position: fixed;
    top: unset;
    bottom: 0;
    width: 100dvw;
  }
  aside {
    flex-direction: row;
    background-color: var(--pos-background-color);
  }
}
