:host {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "main"
    "menu"
}

header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  align-items: center;
  justify-content: space-between;
}

nav {
  grid-area: menu;
}

main {
  grid-area: main;
}


